<h3>List users</h3>

<div id='user-table'>
	{{#if users.length}}
		<table>
			<thead>
				<tr>
					<th>Username</th>
					<th>Device</th>
					<th>Send Push</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<td> {{username}}</td>
						<td>{{platform}}</td>
						<td>
							<button
								data-target='modal1'
								class='btn modal-trigger open-modal'
								data-id='{{id}}'
							>Send Push</button>
						</td>
					</tr>

					<!-- Modal Structure -->
					<div id='modal1' class='modal'>
						<div class='modal-content'>
							<form>
								<h4>Push sender</h4>
								<div class='input-field'>
									<input type='text' name='title' id='title' />
									<label>Title</label>
								</div>
								<div class='input-field'>
									<input type='text' name='message' id='message' />
									<label>Message</label>
								</div>
								<div class='modal-footer'>
									<button
										class='modal-action modal-close waves-effect waves-green btn-flat'
									>Cancel</button>
									<button
										type='submit'
										class='btn-flat modal-close waves-effect waves-green send-push'
									>Send</button>
								</div>
							</form>
						</div>
					</div>
				{{/each}}
			</tbody>
		</table>

	{{else}}
		<p>No users</p>
	{{/if}}
</div>